@font-face {
  font-family: "ASCircular-Book";
  src: url("https://resource.alaskaair.net/-/media/1DD02F55437F4346B7EF7D5A08326D71") format("woff2"), url("https://resource.alaskaair.net/-/media/2339807B68A344348447336D15035425") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; }

@font-face {
  font-family: "ASCircular-Medium";
  src: url("https://resource.alaskaair.net/-/media/A5558137DB0F4B818D85EBE44FDC542E") format("woff2"), url("https://resource.alaskaair.net/-/media/F4E82B6C6CBA46B4A322B4B99B2CBC63") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback; }