<p>
  Not working? Make sure your AlaskaAir cookie is set.
</p>
<account-funds-conversion-form
  confirmationRedirectUrl="./demo/airline-helper"
  getJwtEndpoint="./mock/account/jwt"
  getWalletConversionApiKey="your-subscription-key"
  getWalletConversionEndpoint="./mock/wallet/conversionamounts?mileagePlanNumber="
  submitWalletConversionApiKey="your-subscription-key"
  submitWalletConversionEndpoint="./mock/wallet/convert"
>
  <img slot="image" alt="" src="https://resource.alaskaair.net/-/media/Images/icons/dollar-icon" width="99" />
</account-funds-conversion-form>
