<footer-advisory footerAdvisories='["Advisory One", "Advisory Two", "Advisory Three"]'></footer-advisory>

<footer-advisory>
    <p slot="message">Inflight Wi-Fi availability is subject to change without notice and is not available when flying
        over Latin America, the Pacific Ocean and portions of Canada and Alaska.</p>
    <p slot="message">Amounts are quoted per person in US dollars, and subject to change without notice until purchased.
        The final price might differ from the price shown on this page due to a real-time fare change or other mandatory
        recalculation. <a>Currency Converter</a></p>
</footer-advisory>