<airline-helper iata="AS"></airline-helper>
<airline-helper iata="AS" long></airline-helper>
<airline-helper iata="AS" full></airline-helper>
<airline-helper iata="AS" full image></airline-helper>
<airline-helper iata="QX" full image></airline-helper>
<airline-helper iata="AA" full image></airline-helper>
<airline-helper iata="AF" full image></airline-helper>
<airline-helper iata="AM" full image></airline-helper>
<airline-helper iata="AY" full image></airline-helper>
<airline-helper iata="BA" full image></airline-helper>
<airline-helper iata="EI" full image></airline-helper>
<airline-helper iata="EV" full image></airline-helper>
<airline-helper iata="EK" full image></airline-helper>
<airline-helper iata="CX" full image></airline-helper>
<airline-helper iata="DE" full image></airline-helper>
<airline-helper iata="DL" full image></airline-helper>
<airline-helper iata="FI" full image></airline-helper>
<airline-helper iata="FJ" full image></airline-helper>
<airline-helper iata="HA" full image></airline-helper>
<airline-helper iata="HU" full image></airline-helper>
<airline-helper iata="JL" full image></airline-helper>
<airline-helper iata="AA" full image></airline-helper>
<airline-helper iata="KE" full image></airline-helper>
<airline-helper iata="KL" full image></airline-helper>
<airline-helper iata="LA" full image></airline-helper>
<airline-helper iata="LH" full image></airline-helper>
<airline-helper iata="LP" full image></airline-helper>
<airline-helper iata="OO" full image></airline-helper>
<airline-helper iata="QF" full image></airline-helper>
<airline-helper iata="SQ" full image></airline-helper>