<fs-matrix-price-cell price="300">
</fs-matrix-price-cell>
<hr />
<fs-matrix-price-cell seatsRemaining="3" price="99">
</fs-matrix-price-cell>
<fs-matrix-price-cell seatsRemaining="3" price="99">
</fs-matrix-price-cell>
<fs-matrix-price-cell fareType="saver" seatsRemaining="3" price="99">
</fs-matrix-price-cell>
<fs-matrix-price-cell fareType="main" seatsRemaining="3" price="99">
</fs-matrix-price-cell>


    <table>
        <tr>
            <td>
                <fs-matrix-price-cell seatsRemaining="3" price="99">
                </fs-matrix-price-cell>
                <fs-matrix-price-cell seatsRemaining="3" price="99">
                </fs-matrix-price-cell>
                <fs-matrix-price-cell seatsRemaining="3" price="99">
                </fs-matrix-price-cell>
            </td>
            <td>
                <fs-matrix-price-cell fareType="first" seatsRemaining="3" price="99">
                </fs-matrix-price-cell>
            </td>
            <td>
                <fs-matrix-price-cell fareType="saver" price="0">
                </fs-matrix-price-cell>
            </td>
        </tr>
    </table>