<status-flight-container
   slice='[
   {
      "flightNumber":187,
      "carrier":"AS",
      "duration":"04:05:00",
      "departureDate":"2021-05-01T13:40:00",
      "arrivalDate":"2021-05-01T18:45:00",
      "departureStation":"ADK",
      "arrivalStation":"ANC",
      "legs":[
         {
            "CanceledPercentage":0,
            "ChronicallyDelayed":false,
            "EquipmentCode":"73H",
            "EquipmentName":"Boeing 737-800 (Winglets)",
            "PercentLate30Plus":0,
            "PercentOntime":0,
            "DepartureAirportCode":"ADK",
            "ArrivalAirportCode":"CDB",
            "ChangeOfPlane":false
         },
         {
            "CanceledPercentage":0,
            "ChronicallyDelayed":false,
            "EquipmentCode":"73H",
            "EquipmentName":"Boeing 737-800 (Winglets)",
            "PercentLate30Plus":0,
            "PercentOntime":0,
            "DepartureAirportCode":"CDB",
            "ArrivalAirportCode":"ANC",
            "ChangeOfPlane":false
         }
      ]
   },
   {
      "flightNumber":114,
      "carrier":"AS",
      "duration":"03:25:00",
      "departureDate":"2021-05-02T01:50:00",
      "arrivalDate":"2021-05-02T06:15:00",
      "departureStation":"ANC",
      "arrivalStation":"SEA",
      "legs":[
         {
            "CanceledPercentage":0,
            "ChronicallyDelayed":false,
            "EquipmentCode":"73W",
            "EquipmentName":"Boeing 737-700 (Winglets)",
            "PercentLate30Plus":0,
            "PercentOntime":0,
            "DepartureAirportCode":"ANC",
            "ArrivalAirportCode":"SEA",
            "ChangeOfPlane":false
         }
      ]
   },
   {
      "flightNumber":8,
      "carrier":"AS",
      "duration":"05:20:00",
      "departureDate":"2021-05-02T09:25:00",
      "arrivalDate":"2021-05-02T17:45:00",
      "departureStation":"SEA",
      "arrivalStation":"EWR",
      "legs":[
         {
            "CanceledPercentage":0,
            "ChronicallyDelayed":false,
            "EquipmentCode":"73J",
            "EquipmentName":"Boeing 737-900 (Winglets)",
            "PercentLate30Plus":0,
            "PercentOntime":0,
            "DepartureAirportCode":"SEA",
            "ArrivalAirportCode":"EWR",
            "ChangeOfPlane":false
         }
      ]
   }
]'
>

</status-flight-container>