<ota-welcome-message></ota-welcome-message>
<br/>
<ota-welcome-message vendor="google"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="orbitz"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="expedia"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="travelocity"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="cheapTickets"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="skyscanner"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="kayak"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="bing"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="tripadvisor"></ota-welcome-message>
<br/>
<ota-welcome-message vendor="kayak">
    <div slot="ota-sub-text">Custom sub text...</div>
</ota-welcome-message>