<fs-matrix-header matrixLabel="Departing flight" displayTrips='["Walla Walla (ALW) to Seattle (SEA)"]'></fs-matrix-header>
<br/><hr/>
<fs-matrix-header  matrixLabel="returning flight" displayTrips='["Seattle (SEA) to Walla Walla (ALW)"]'></fs-matrix-header>
<br/><hr/>
<fs-matrix-header  matrixLabel="Flight" displayTrips='["Pasco/Tri-Cities (PSC) to Salt Lake City (SLC)"]'></fs-matrix-header>
<br/><hr/>
<span><i>The original Ascom code allows multiple itineraries to be listed</i></span>
<br/>
<fs-matrix-header  matrixLabel="returning flight" displayTrips='["Walla Walla (ALW) to Seattle (SEA)", "Seattle (SEA) to Walla Walla (ALW)"]'></fs-matrix-header>