:host {
    font-family: ASCircular-Book;
    font-size: 18px;
    font-weight: 300;
    color: var(--auro-color-text-secondary-on-light);
}

.disclosure {
    padding-top: var(--auro-size-lg);
    max-width: 571px;
}