<p>
  A partial is a fragment that can contain html, css, and javascript. A common
  example is credit card and ad placements found in various places in
  AlaskaAirCom.
</p>
<cms-partial path="shopping/compare-fare-upsell-table"></cms-partial>
<br />
<p>
  Personalization is an <em>opt-in</em> feature. This is a mobile credit card ad
  placed on the m.alaskaair.com payment page. It's looking for a cookie to know
  if you have a Bank of America credit card. If you do, it returns a different
  variant of the ad.
  <strong
    >Partials personalized with cookies need to be tested within the
    alaskaair.com domain.</strong
  >
</p>
<p>
  For more information about setup and troubleshooting tips, checkout our
  <a
    href="https://github.com/Alaska-ECommerce/App-Sitecore9Client/blob/main/docs/partials/index.md"
    >Partials documentation</a
  >
  in the E_Retain_Content space!
</p>
<cms-partial personalized path="mow/payment"></cms-partial>
