<auro-dialog></auro-dialog>
<ch-legend 
    GuestPassMonitor 
    HasGovernmentFare
    HasGovernmentMixFare
    HasGovernmentMatchFare
    GuestPassRecommended 
    GuestPassNotRecommended 
    PremiumClassUpgradeAvailable
    PremiumClassUpgradeUnavailable
    FirstClassUpgradeAvailable
    FirstClassUpgradeUnavailable
    IsMixedCabinItinerary
    HasContractFare
    HasContractMixFare
    RoutePendingGovernmentApproval
    >
</ch-legend>
<hr>
<ch-legend table GuestPassMonitor></ch-legend>
<ch-legend table HasGovernmentFare></ch-legend>
<ch-legend table GuestPassRecommended></ch-legend>
<ch-legend table GuestPassNotRecommended></ch-legend>
<ch-legend table FirstClassUpgradeAvailable></ch-legend>
<ch-legend table FirstClassUpgradeUnavailable></ch-legend>
<ch-legend table PremiumClassUpgradeAvailable></ch-legend>
<ch-legend table PremiumClassUpgradeUnavailable></ch-legend>
<ch-legend table RoutePendingGovernmentApproval></ch-legend>
<ch-legend table FreeSameDayChange></ch-legend>
<hr>
<ch-legend tile DiscountCodeApplied></ch-legend>
<ch-legend tile HasContractFare></ch-legend>
<ch-legend tile HasContractMixFare></ch-legend>
<ch-legend tile HasGovernmentFare></ch-legend>
<ch-legend tile HasGovernmentMixFare></ch-legend>
<ch-legend tile IsMixedCabinItinerary tileData='[{ "origin": "sea", "destination": "lax", "classOfService": "main" }, { "origin": "lax", "destination": "nrt", "classOfService": "premium" }]'></ch-legend>
