
<saver-to-main-dual-upsell price="60" upgradeLink="/" roundtrip></saver-to-main-dual-upsell>


<br/>

<!-- Heavily customized example upsell -->
<saver-to-main-dual-upsell price="60" upgradeLink="/">
    <div slot="title-left">Get more with Main*</div>
    <img slot="image" src="https://images.pexels.com/photos/12829/pexels-photo-12829.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" width="300" />
    <style>
        .message-list {
            margin: 0px;
            font-weight: 300;
            font-family: 'ASCircular-Book';
            font-size: 24px;
            padding-left: 1.6rem;
            list-style-type: disc;
        }

        .message-list span {
            font-size: 16px;
        }
    </style>
    <div slot="content-left">
        Enjoy Main class offerings, such as:
        <ul class="message-list">
            <li>
                <span>Expanded seat selection</span>
            </li>
            <li>
                <span>Earlier boarding and overhead bin access</span>
            </li>
            <li>
                <span>Flight changes and cancellations</span>
            </li>
        </ul>
    </div>
    <span slot="title-right-icon">
        <svg width="26" height="26">
            <circle cx="16" cy="16" r="8" stroke="green" stroke-width="4" fill="yellow" />
        </svg>
    </span>
    <span slot="title-right">Get more with bla</span>
    <div slot="content-right">
        <ul class="message-list">
            <li>
                <span>
                    Not eligible for cancellations, changes,
                    or refunds more than 24 hours after purchase.
                </span>
            </li>
            <li>
                <span>
                    Limited seat selection or assigned at the gate
                </span>
            </li>
            <li>
                <span>
                    Not recommended for groups of 2 or more
                </span>
            </li>
        </ul>
    </div>
    <div slot="disclaimer">*Hello world</div>
</saver-to-main-dual-upsell>

